<!-- templates/partials/bottom_nav.html -->
<nav class="bottom-tab">
  {% for item in bottom_nav_items %}
  <div class="tab-item" data-page="{{ item.url_name }}">
    <span class="tab-icon">{{ item.icon }}</span>
    <span class="tab-name">{{ item.name }}</span>

    <!-- サブメニュー -->
    {% if item.submenu %}
    <div class="submenu">
      {% for sub in item.submenu %}
      <div class="submenu-item" data-page="{{ sub.url_name }}">
        {{ sub.name }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</nav>
