/* 共通デザイン（テーマカラーや背景） */

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(135deg, #000006, #001133, #4400aa);
  color: white;
}

a {
  transition: color 0.3s;
}

a:hover {
  color: cyan;
}