<div class="bottom-tab">
  <!-- メインタブ -->
  <ul class="tab-list main-tabs">
    {% for tab in tabs %}
      {% if not tab.is_submenu %}
      <li class="tab-item">
        <a href="{% url tab.url_name %}" data-submenu="{{ tab.is_submenu|yesno:'true,false' }}">
          <i class="{{ tab.icon_class }}"></i>
          <span>{{ tab.name }}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    <li class="tab-item">
      <a href="#" id="submenu-toggle">
        <i class="fa-solid fa-ellipsis"></i>
        <span>その他</span>
      </a>
    </li>
  </ul>

  <!-- サブメニュー -->
  <ul class="tab-list sub-tabs" id="sub-menu" style="display:none;">
    {% for tab in tabs %}
      {% if tab.is_submenu %}
      <li class="tab-item">
        <a href="{% url tab.url_name %}">
          <i class="{{ tab.icon_class }}"></i>
          <span>{{ tab.name }}</span>
        </a>
      </li>
      {% endif %}
    {% endfor %}
    <li class="tab-item">
      <a href="#" id="main-menu-toggle">
        <i class="fa-solid fa-arrow-left"></i>
        <span>戻る</span>
      </a>
    </li>
  </ul>
</div>
